backports.functools-lru-cache==1.4
cycler==0.10.0
get==0.0.33
matplotlib==2.1.0
numpy==1.13.3
pandas==0.21.0
patsy==0.4.1
post==0.0.22
public==0.0.53
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
query-string==0.0.21
request==0.0.22
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
statsmodels==0.8.0
